@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-700.woff2") format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat.ttf") format("truetype"); }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat'; }

body {
  background-color: #1f2833;
  color: #C5C6C7;
  font-family: 'Montserrat'; }

a {
  text-decoration: none;
  color: #C5C6C7; }

p {
  font-size: 1.25rem;
  line-height: 30px; }

::placeholder {
  color: rgba(102, 252, 241, 0.25); }

#navigation,
#how,
#process,
#learn,
#testimonial-students,
#contact {
  width: 75vw;
  padding: 50px 0px;
  margin: 0px auto; }

.hover_button_clear_bg:hover {
  background-color: #66FCF1 !important;
  color: #1f2833 !important;
  transition: all 500ms ease-in-out; }

.hide {
  display: none !important; }

@media screen and (max-width: 600px) {
  #navigation,
  #how,
  #process,
  #learn,
  #testimonial-students,
  #contact {
    width: 100vw;
    padding: 50px 10px; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 550ms;
  animation-duration: 550ms;
  animation-timing-function: ease-in; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  animation-timing-function: ease-in; }

@-webkit-keyframes notice {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg); }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg); }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg); }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

@keyframes notice {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg); }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg); }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg); }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

.notice {
  -webkit-animation-name: notice;
  animation-name: notice;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms; }

/* Icons for FONTAWESOME, instead of class 'fa' */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative; }

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important; }

#navigation {
  display: flex;
  justify-content: space-between;
  z-index: 1000; }
  #navigation .container-brand {
    display: flex;
    align-items: center;
    color: #66FCF1; }
    #navigation .container-brand img {
      width: 60px;
      height: 40px;
      margin-right: 5px; }
    #navigation .container-brand h1 {
      font-size: 1.75rem; }
  #navigation .container-nav-items {
    display: flex;
    align-items: center; }
    #navigation .container-nav-items ul {
      display: flex;
      list-style-type: none; }
      #navigation .container-nav-items ul li {
        min-width: 120px; }
        #navigation .container-nav-items ul li a {
          vertical-align: baseline;
          appearance: none;
          border-radius: 35px;
          cursor: pointer;
          display: inline-block;
          font-weight: 600;
          height: 3.25rem;
          line-height: 3.25rem;
          padding: 0 1.75rem;
          text-align: center;
          white-space: nowrap;
          text-decoration: none;
          box-shadow: none;
          background-color: transparent;
          color: #C5C6C7;
          margin-bottom: 0;
          transition: color 500ms ease-in-out; }
          #navigation .container-nav-items ul li a:hover {
            color: #66FCF1; }
        #navigation .container-nav-items ul li a.special_button {
          text-transform: uppercase;
          color: #66FCF1;
          border: 1px solid #66FCF1;
          margin-left: 15px;
          transition: background-color 500ms ease-in-out, color 500ms ease-in-out; }
      #navigation .container-nav-items ul li.nav-mobile-item {
        display: none; }

@media screen and (max-width: 600px) {
  #navigation .container-brand img {
    width: 55px;
    height: 30px;
    margin-right: 5px; }
  #navigation .container-brand h1 {
    font-size: 1.25rem; } }

@media screen and (max-width: 960px) {
  #navigation {
    margin-top: 25px;
    padding: 15px; }
    #navigation .container-nav-items ul li.nav-mobile-item {
      display: list-item;
      min-width: 20px; }
    #navigation .container-nav-items ul li.nav-desktop-item {
      display: none; } }

#banner {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 0;
  display: -ms-flexbox;
  height: 100vh !important;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }

#banner:before {
  -moz-transition: opacity 3s ease;
  -webkit-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  transition: opacity 3s ease;
  -moz-transition-delay: 1.25s;
  -webkit-transition-delay: 1.25s;
  -ms-transition-delay: 1.25s;
  transition-delay: 1.25s;
  background-color: #0B0C10;
  content: '';
  display: block;
  height: 100vh;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

#banner:after {
  background: linear-gradient(135deg, #0B0C10 5%, #0B0C10 100%);
  content: ' ';
  display: block;
  height: 100vh;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

#banner video {
  -moz-transform: translateX(50%) translateY(50%);
  -webkit-transform: translateX(50%) translateY(50%);
  -ms-transform: translateX(50%) translateY(50%);
  transform: translateX(50%) translateY(50%);
  bottom: 50%;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  right: 50%; }

header.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
  max-width: 65%;
  height: 100%; }
  header.header .header-meta-content-container,
  header.header .header-meta-button-container,
  header.header .header-meta-title-container {
    margin: 20px 0px; }
  header.header .header-meta-title-container h3 {
    font-size: 3.75rem;
    font-weight: 700;
    color: #66FCF1; }
  header.header .header-meta-title-container small {
    font-size: 1.75rem;
    font-weight: 700; }
  header.header .header-meta-button-container .header-meta-button {
    text-transform: uppercase;
    vertical-align: baseline;
    appearance: none;
    border: 1px solid #66FCF1;
    border-radius: 35px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 3.25rem;
    line-height: 3.25rem;
    padding: 0 1.75rem;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    box-shadow: none;
    background-color: transparent;
    color: #66FCF1;
    margin-bottom: 0;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out; }

@media screen and (max-width: 600px) {
  header.header .header-meta-title-container h3 {
    font-size: 2.5rem; }
  header.header .header-meta-title-container small {
    font-size: 1rem; } }

@media screen and (max-width: 400px) {
  header.header .header-meta-title-container h3 {
    font-size: 2rem; }
  header.header .header-meta-content-container p {
    font-size: 1rem; } }

#how {
  display: flex;
  min-height: 100vh; }
  #how .how-image-container {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    #how .how-image-container img {
      max-width: 500px;
      height: auto; }
  #how .how-contents-container {
    padding: 20px; }
    #how .how-contents-container .how-contents-header {
      margin-bottom: 15px; }
      #how .how-contents-container .how-contents-header h3 {
        color: #66FCF1;
        margin-bottom: 15px;
        font-size: 2.5rem;
        font-weight: 700; }
    #how .how-contents-container .how-contents-list {
      list-style: none; }
      #how .how-contents-container .how-contents-list li {
        font-size: 20px;
        font-weight: 600;
        padding: 20px 32px;
        box-shadow: 12px 7px 90px 0 rgba(0, 0, 0, 0.3);
        margin-bottom: 10px;
        width: 100%; }
        #how .how-contents-container .how-contents-list li:before {
          content: '✔  ' !important;
          color: #3ee03e !important; }

@media screen and (max-width: 768px) {
  #how {
    flex-direction: column;
    align-items: center; }
    #how .how-image-container img:first-child {
      display: none; }
    #how .how-contents-container .how-contents-header h3 {
      text-align: center; }
    #how .how-contents-container .how-contents-header p {
      text-align: justify; } }

@media screen and (max-width: 465px) {
  #how .how-contents-container .how-contents-list li {
    font-size: 0.8rem; } }

@media screen and (max-width: 600px) {
  #how .how-image-container {
    padding: 20px; }
    #how .how-image-container img {
      width: 100%;
      height: auto; } }

#process {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  align-items: center; }
  #process .process-card {
    width: 30%;
    padding: 20px;
    border: 1px solid #1f2833;
    text-align: center;
    box-shadow: 12px 7px 90px 0 rgba(0, 0, 0, 0.3); }
    #process .process-card .process-card-icon-container {
      margin-bottom: 15px; }
      #process .process-card .process-card-icon-container img {
        width: 100%;
        height: auto;
        max-height: 160px; }
    #process .process-card h3 {
      color: #66FCF1;
      margin-bottom: 15px;
      font-size: 1.75rem;
      font-weight: 700; }
    #process .process-card p {
      font-size: 1.25rem; }

@media screen and (max-width: 768px) {
  #process {
    flex-direction: column;
    height: max-content; }
    #process .process-card {
      width: 100%;
      margin: 15px 0px;
      padding: 40px;
      height: max-content; } }

#learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; }
  #learn h2 {
    text-align: center;
    color: #66FCF1;
    font-size: 2.5rem;
    font-weight: 700; }
  #learn .learn-row {
    display: flex;
    margin: 25px 0px; }
    #learn .learn-row img.learn-row-icon {
      width: 100px;
      height: 100px; }
    #learn .learn-row div.learn-row-content {
      padding-left: 25px; }
      #learn .learn-row div.learn-row-content h3 {
        color: #66FCF1;
        margin-bottom: 7.5px;
        font-weight: 700; }
      #learn .learn-row div.learn-row-content p {
        text-align: justify; }

@media screen and (max-width: 600px) {
  #learn .learn-row img {
    display: none; }
  #learn .learn-row div.learn-row-content {
    padding: 0px; } }

#testimonial-ceo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: url("/assets/images/francis-plaza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(11, 12, 16, 0.85);
  background-attachment: fixed;
  background-blend-mode: overlay; }
  #testimonial-ceo blockquote {
    width: 75vw; }
    #testimonial-ceo blockquote h2 {
      font-size: 2.5rem;
      font-style: italic;
      margin-bottom: 25px; }
    #testimonial-ceo blockquote small {
      font-size: 1.75rem;
      float: right;
      color: #66FCF1; }

#testimonial-students {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
  #testimonial-students h2 {
    text-align: center;
    color: #66FCF1;
    font-size: 2.5rem;
    font-weight: 700; }
  #testimonial-students .testimonials-container {
    display: flex;
    justify-content: space-between;
    margin: 25px 0px; }
    #testimonial-students .testimonials-container .student-container {
      padding: 20px;
      border: 1px solid #1f2833;
      width: 45%;
      box-shadow: 12px 7px 90px 0 rgba(0, 0, 0, 0.3); }
      #testimonial-students .testimonials-container .student-container p {
        text-align: justify;
        font-style: italic; }
      #testimonial-students .testimonials-container .student-container .student-profile {
        display: flex;
        align-items: flex-start;
        margin: 25px 0px; }
        #testimonial-students .testimonials-container .student-container .student-profile img {
          border-radius: 50%;
          width: 72px;
          margin-right: 16px;
          border: 1px;
          border-style: solid;
          border-color: #969696; }
        #testimonial-students .testimonials-container .student-container .student-profile .student-title h3 {
          color: #66FCF1;
          font-weight: 700; }

@media screen and (max-width: 768px) {
  #testimonial-students .testimonials-container {
    flex-direction: column; }
    #testimonial-students .testimonials-container .student-container {
      width: 100%;
      margin: 15px 0px;
      padding: 40px; } }

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
  #contact h2 {
    text-align: center;
    color: #66FCF1;
    font-size: 2.5rem;
    font-weight: 700; }
  #contact .contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    #contact .contact-container .contact-cards-container {
      width: 100%;
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #contact .contact-container .contact-cards-container .contact-card {
        width: 100%;
        padding: 20px;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 15px 0px;
        border: 1px solid #1f2833;
        box-shadow: 12px 7px 90px 0 rgba(0, 0, 0, 0.3); }
        #contact .contact-container .contact-cards-container .contact-card img {
          width: 110px;
          height: auto;
          max-height: 100px;
          margin-right: 25px; }
        #contact .contact-container .contact-cards-container .contact-card h3 {
          color: #66FCF1; }
    #contact .contact-container .contact-form-container {
      width: 100%;
      padding: 20px; }
      #contact .contact-container .contact-form-container p {
        margin-bottom: 25px; }
      #contact .contact-container .contact-form-container form {
        width: 100%; }
        #contact .contact-container .contact-form-container form .field-container {
          margin-bottom: 25px; }
        #contact .contact-container .contact-form-container form .field-container,
        #contact .contact-container .contact-form-container form input,
        #contact .contact-container .contact-form-container form textarea {
          width: 100%; }
        #contact .contact-container .contact-form-container form input,
        #contact .contact-container .contact-form-container form textarea,
        #contact .contact-container .contact-form-container form button {
          padding: 20px 5px; }
        #contact .contact-container .contact-form-container form input,
        #contact .contact-container .contact-form-container form textarea {
          border: none;
          background-color: #1f2833;
          border-bottom: 2px solid #C5C6C7;
          font-size: 1rem;
          color: #66FCF1; }
          #contact .contact-container .contact-form-container form input:focus,
          #contact .contact-container .contact-form-container form textarea:focus {
            outline: none;
            box-shadow: none; }
        #contact .contact-container .contact-form-container form input {
          height: 40px; }
        #contact .contact-container .contact-form-container form textarea {
          resize: vertical; }
        #contact .contact-container .contact-form-container form button {
          min-width: 175px;
          cursor: pointer;
          font-weight: 700;
          border-radius: 35px;
          text-transform: uppercase;
          color: #66FCF1;
          border: 1px solid #66FCF1;
          background-color: #1f2833;
          transition: background-color 500ms ease-in-out, color 500ms ease-in-out; }

@media screen and (max-width: 768px) {
  #contact .contact-container {
    flex-direction: column;
    align-items: center; }
    #contact .contact-container .contact-form-container {
      margin-top: 25px; } }

@media screen and (max-width: 450px) {
  #contact .contact-container .contact-cards-container .contact-card .contact-card-meta h3 {
    font-size: 0.75rem; } }

footer {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background-image: url("/assets/images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: rgba(11, 12, 16, 0.85);
  background-attachment: fixed;
  background-blend-mode: overlay; }
  footer #call-to-action,
  footer #copyright-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  footer #call-to-action {
    width: 100%;
    height: 92.5%; }
    footer #call-to-action h3 {
      font-size: 3.5rem;
      margin-bottom: 25px; }
    footer #call-to-action button {
      font-size: 1.25rem;
      padding: 20px 15px;
      min-width: 210px;
      cursor: pointer;
      font-weight: 700;
      border-radius: 35px;
      text-transform: uppercase;
      color: #66FCF1;
      border: 1px solid #66FCF1;
      background-color: transparent;
      transition: background-color 500ms ease-in-out, color 500ms ease-in-out; }
  footer #copyright-container {
    width: 100%;
    height: 7.5%; }

@media screen and (max-width: 600px) {
  footer #call-to-action h3 {
    font-size: 2.5rem; } }

#sidebar {
  display: block;
  height: 100%;
  max-width: 20rem;
  overflow-y: hidden;
  padding: 3rem 2rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20rem;
  z-index: 10002;
  transform: translateX(20rem);
  visibility: visible;
  background-color: #0B0C10;
  transition: transform .5s ease, visible .5s ease !important; }
  #sidebar ul {
    list-style: none; }
    #sidebar ul li a {
      line-height: 3.5rem;
      font-weight: 700;
      color: #C5C6C7; }
      #sidebar ul li a:hover {
        color: #66FCF1; }

.sidebar_open {
  visibility: visible !important;
  transform: translateX(0) !important; }

.sidebar_open_forcontent {
  transform: translateX(-20rem); }

main#content {
  transition: transform .5s ease, visible .5s ease !important; }

.loader-enrollment {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loader-enrollment .loader-enrollment-inner {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .loader-enrollment .loader-enrollment-inner svg {
      width: 100px;
      height: 100px;
      margin: 10px;
      display: inline-block; }
    .loader-enrollment .loader-enrollment-inner small {
      text-align: center; }

button#goback,
button#prevBtn,
button#nextBtn {
  margin: 25px;
  vertical-align: baseline;
  appearance: none;
  border-radius: 35px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  height: 3.25rem;
  line-height: 3.25rem;
  padding: 0 1.75rem;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: none;
  background-color: transparent;
  color: #66FCF1;
  border: 1px solid #66FCF1;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out; }

button#goback {
  margin: auto 0px !important; }

button#prevBtn,
button#nextBtn {
  margin: 7.5px !important; }

div#initial_element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50% !important; }
  div#initial_element .initial_element_header {
    display: flex;
    align-items: center;
    margin-bottom: 25px; }
    div#initial_element .initial_element_header img {
      width: 80px;
      height: 50px;
      margin-right: 15px; }
    div#initial_element .initial_element_header h1 {
      font-size: 3.75rem;
      color: #66FCF1; }
  div#initial_element p {
    text-align: center; }
  div#initial_element button#startRegForm {
    margin: 20% 25px 0px;
    vertical-align: baseline;
    appearance: none;
    border-radius: 35px;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    height: 3.25rem;
    line-height: 3.25rem;
    padding: 0 1.75rem;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    box-shadow: none;
    background-color: transparent;
    color: #66FCF1;
    border: 1px solid #66FCF1;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out; }

#regForm,
.submitted_enrollment,
div#initial_element {
  background-color: transparent;
  margin: auto;
  padding: 20px;
  width: 70%;
  min-width: 300px; }

#regForm {
  padding: 0px !important; }

div.goback_button_container {
  height: 15vh;
  margin: 0px auto;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 300px; }

#regForm,
.submitted_enrollment {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.submitted_enrollment {
  justify-content: center !important;
  align-items: center; }
  .submitted_enrollment img {
    width: 50%;
    height: auto;
    margin-bottom: 25px; }
  .submitted_enrollment h1 {
    margin-top: 25px; }

.tab-formfield-container {
  margin: 25px 0px; }
  .tab-formfield-container #enroll_input {
    padding: 20px 5px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #1f2833;
    border-bottom: 2px solid #C5C6C7;
    font-size: 1.5rem;
    color: #66FCF1 !important; }
    .tab-formfield-container #enroll_input:focus {
      outline: none;
      box-shadow: none; }
  .tab-formfield-container div.error {
    margin-top: 7.5px;
    font-style: italic;
    color: #cb7762; }

.tab {
  display: none;
  min-height: 300px; }
  .tab label,
  .tab label.question {
    font-size: 1.5rem; }
  .tab label.question {
    color: #66FCF1; }
  .tab small {
    font-size: 1rem; }

.tab.support div.tab-formfield-container,
.tab.programming_experience div.tab-formfield-container,
.tab.source div.tab-formfield-container,
.tab.whento_start div.tab-formfield-container {
  margin: 7.5px; }

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #C5C6C7;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5; }

.step.active {
  opacity: 1; }

.step.finish {
  background-color: #3ee03e; }

.enrollment_form_navigation {
  margin: 25px 0px; }

@media screen and (max-width: 768px) {
  #initial_element .initial_element_header {
    display: flex;
    flex-direction: column; }
    #initial_element .initial_element_header img {
      margin-bottom: 25px; }
    #initial_element .initial_element_header h1 {
      text-align: center; }
  .submitted_enrollment img {
    width: 100%; } }

@media screen and (max-width: 500px) {
  #regForm,
  div.goback_button_container {
    width: 85%;
    padding: 0px; }
  div#initial_element .initial_element_header h1#brand-name {
    font-size: 2rem !important; } }

@media screen and (max-width: 375px) {
  .enrollment_form_navigation {
    display: flex;
    flex-direction: column;
    align-items: center; } }
