$theme-background-color: #1f2833; // Indigo Dye
$theme-background-color-darker: #0B0C10;
$theme-text-color: #C5C6C7; // Columbia Blue
$blue2: #5FA8D3; // Carolina Blue
$blue3: #66FCF1; // Maximum Blue
$blue4: #BEE9E8; // Powder Blue
$success: #3ee03e;
$danger: #cb7762;

$width-global: 75vw; // width of each section, with margin auto
$spacing: 20px;
$font-size-section-header: 2.5rem;
$margin-sm: 7.5px;
$margin-md: 15px;
$margin-lg: 25px;

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url('/assets/fonts/poppins-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'), local('Poppins-Bold'), url('/assets/fonts/poppins-700.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;

  // positions the icon inside the checkbox/radio
  position: absolute !important;
  top: 1px !important;
  left: 3.5px !important;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;  
}

body {
    background-color: $theme-background-color;
    color: $theme-text-color;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: $theme-text-color;
}

p {
    font-size: 1.25rem;
    line-height: 30px;
}

::placeholder {
    color: rgba($color: $blue3, $alpha: 0.25);
}

#navigation,
#how,
#process,
#learn,
#testimonial-students,
#contact {
    width: $width-global;
    padding: 50px 0px;
    margin: 0px auto;
}

.hover_button_clear_bg:hover {
    background-color: $blue3 !important;
    color: $theme-background-color !important;
    transition: all 500ms ease-in-out;  
}

.hide {
    display: none !important;
}

.rounded {
    border-radius: 25px !important;
}

div.error {
    margin-top: $margin-sm;
    font-style: italic;
    color: $danger;
    position: absolute !important;
}

@media screen and (max-width: 600px) { // MOBILE PHONES
    #navigation,
    #how,
    #process,
    #learn,
    #testimonial-students,
    #contact {
        width: 100vw;
        padding: 50px 10px;
    }
}
