#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


    h2 {
        text-align: center;
        color: $blue3;
        font-size: $font-size-section-header;
        font-weight: 700;
    }

    .contact-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .contact-cards-container {
            width: 100%;
            height: 100%;
            padding: $spacing;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .contact-card {
                width: 100%;
                padding: $spacing;
                height: max-content;
                min-height: 141px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: $margin-sm 0px;
                border: 1px solid $theme-background-color;
                box-shadow: 12px 7px 90px 0 rgba(0, 0, 0, 0.3);

                img {
                    width: 110px;
                    height: auto;
                    max-height: 100px;
                    margin-right: $margin-lg;
                }

                h3 {
                    color: $blue3;
                }
            }
        }

        .contact-form-container {
            width: 100%;
            padding: $spacing;

            p {
                margin-bottom: $margin-lg;
            }

            form {
                width: 100%;

                .field-container {
                    margin-bottom: $margin-lg;
                }

                .field-container,
                input,
                textarea {
                    width: 100%;
                    background-color: transparent !important;
                }

                input,
                textarea,
                button {
                    margin-top: $margin-sm;
                    padding: $spacing 5px;
                }

                button {
                    margin-top: 10px !important;
                }

                input,
                textarea {
                    border: none;
                    background-color: $theme-background-color;
                    border-bottom: 2px solid $theme-text-color;
                    font-size: 1rem;
                    color: $blue3;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

                input {
                    height: 40px;
                }
                
                textarea {
                    resize: vertical;
                }

                button {
                    min-width: 175px;
                    cursor: pointer;
                    font-weight: 700;
                    border-radius: 35px;
                    text-transform: uppercase;
                    color: $blue3;
                    border: 1px solid $blue3;
                    background-color: $theme-background-color;
                    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) { // IPAD
    #contact {
        .contact-container {
            flex-direction: column;
            align-items: center;

            .contact-cards-container, 
            .contact-form-container {
                padding-left: 0px;
                padding-right: 0px;
            }

            .contact-form-container {
                margin-top: $margin-lg;
            }
        }
    }
}

@media screen and (max-width: 600px) { // MOBILE
    #contact {
        .contact-container {
            .contact-cards-container, 
            .contact-form-container {
                padding: $spacing;
            }
        }
    }
}

@media screen and (max-width: 450px) { // MOBILE
    #contact {
        .contact-container {
            .contact-cards-container {
                .contact-card {
                    .contact-card-meta {
                        h3 {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
    }
}