// go back to home button available all-through out the form
button#goback,
button#prevBtn,
button#nextBtn {
    margin: $margin-lg;
    vertical-align: baseline;
    appearance: none;
    border-radius: 35px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 3.25rem;
    line-height: 3.25rem;
    padding: 0 1.75rem;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    box-shadow: none;
    background-color: transparent;
    color: $blue3;
    border: 1px solid $blue3;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

button#goback {
  margin: auto 0px !important;
}

button#prevBtn,
button#nextBtn {
  margin: $margin-sm !important;
}

// welcome message upon clicking enroll now
div#initial_element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50% !important;

  .initial_element_header {
    display: flex;
    align-items: center;
    margin-bottom: $margin-lg;

    img {
      width: 80px;
      height: 50px;
      margin-right: $margin-md;
    }

    h1 {
      font-size: 3.75rem;
      color: $blue3;
    }
  }

  p {
    text-align: center;
  }

  button#startRegForm {
    margin: 20% $margin-lg 0px;
    vertical-align: baseline;
    appearance: none;
    border-radius: 35px;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    height: 3.25rem;
    line-height: 3.25rem;
    padding: 0 1.75rem;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    box-shadow: none;
    background-color: transparent;
    color: $blue3;
    border: 1px solid $blue3;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
  }
}



#regForm,
.submitted_enrollment,
div#initial_element {
  background-color: transparent;
  margin: auto;
  padding: $spacing;
  width: 70%;
  min-width: 300px;
}

#regForm {
  padding: 0px !important;
}

div.goback_button_container {
  height: 15vh;
  margin: 0px auto;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 300px;
}

#regForm,
.submitted_enrollment {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submitted_enrollment {
  justify-content: center !important;
  align-items: center;

  img {
    width: 50%;
    height: auto;
    margin-bottom: $margin-lg;
  }

  h1 {
    margin-top: $margin-lg;
  }
}

.tab-formfield-container {
  margin: $margin-lg 0px;

  #enroll_input  {
    padding: $spacing 5px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: $theme-background-color;
    border-bottom: 2px solid $theme-text-color;
    font-size: 1.5rem;
    color: $blue3 !important;

    &:focus {
        outline: none;
        box-shadow: none;
    }
  }
  
  div.error {
    margin-top: $margin-sm;
    font-style: italic;
    color: $danger;
  }
}

.tab {
  display: none;
  min-height: 300px;

  label,
  label.question {
    font-size: 1.5rem;
  }

  label.question {
    color: $blue3;
  }

  small {
    font-size: 1rem;
  }
}

.tab.support,
.tab.programming_experience,
.tab.source,
.tab.whento_start {
  div.tab-formfield-container {
    margin: $margin-sm; // from $margin-lg
  }
}

// circle indicator
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

// circle indicator, current tab
.step.active {
  opacity: 1;
}

// circle indicator, done answering
.step.finish {
  background-color: $success;
}

.enrollment_form_navigation {
  margin: $margin-lg 0px;
}

@media screen and (max-width: 768px) { // IPAD
    #initial_element {
      .initial_element_header {
        display: flex;
        flex-direction: column;

        img {
          margin-bottom: $margin-lg;
        }

        h1 {
          text-align: center;
        }
      }
    }

    .submitted_enrollment {
      img {
        width: 100%;
      }
    }
}

@media screen and (max-width: 500px) { // MOBILE PHONE
  #regForm,
  div.goback_button_container {
    width: 85%;
    padding: 0px;
  }

  div#initial_element {
    .initial_element_header {
      h1#brand-name {
        font-size: 2rem !important;
      }
    }
  }
}

@media screen and (max-width: 375px) { // MOBILE PHONE
  .enrollment_form_navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}