footer {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-image: url('/assets/images/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: rgba(11, 12, 16, 0.85);
    background-attachment: fixed;
    background-blend-mode: overlay;

    #call-to-action,
    #copyright-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #call-to-action {
        width: 100%;
        height: 92.5%;

        h3 {
            font-size: 3.5rem;
            margin-bottom: $margin-lg;
        }

        button {
            font-size: 1.25rem;
            padding: $spacing 15px;
            min-width: 210px;
            cursor: pointer;
            font-weight: 700;
            border-radius: 35px;
            text-transform: uppercase;
            color:  $blue3;
            border: 1px solid $blue3;
            background-color: transparent;
            transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
        }
    }

    #copyright-container {
        width: 100%;
        height: 7.5%;
    }
}

@media screen and (max-width: 600px) { // MOBILE PHONES
    footer {
        #call-to-action {
            h3 {
                font-size: 2.5rem;
            }
        }
    }
}