#navigation {
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    padding-bottom: 0px;
    transition: all 500ms ease-in-out;

    .container-brand {
        display: flex;
        align-items: center;
        color: $blue3;

        img {
            width: 60px;
            height: 40px;
            margin-right: 5px;
        }

        h1 {
            font-size: 1.75rem;
        }
    }

    .container-nav-items {
        display: flex;
        align-items: center;
        
        ul {
            display: flex;
            list-style-type: none;

            li {
                min-width: 120px;

                a {
                    vertical-align: baseline;
                    appearance: none;
                    border-radius: 35px;
                    cursor: pointer;
                    display: inline-block;
                    font-weight: 600;
                    height: 3.25rem;
                    line-height: 3.25rem;
                    padding: 0 1.75rem;
                    text-align: center;
                    white-space: nowrap;
                    text-decoration: none;
                    box-shadow: none;
                    background-color: transparent;
                    color: $theme-text-color;
                    margin-bottom: 0;
                    transition: color 500ms ease-in-out;

                    &:hover {
                        color: $blue3;
                    }
                }

                a.special_button{
                    text-transform: uppercase;
                    color: $blue3;
                    border: 1px solid $blue3;
                    margin-left: 15px;
                    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
                }
            }

            li.nav-mobile-item {
                display: none;
            }
        }
    }
}

.scrolled {
    position: fixed !important;
    background-color: $theme-background-color !important;
    width: 100vw !important;
    padding: 20px 12.5vw !important; // $width-global: 75vw; half of the 25vh
    box-shadow: 12px 7px 90px 0 rgba(0, 0, 0, 0.3) !important;
    z-index: 9999999 !important;
    transition: all 500ms ease-in-out;
}

// SHOW THE HAMBURGER AND HIDE OTHER NAV ITEMS
@media screen and (max-width: 600px) { 
    #navigation {   
        .container-brand {
            img {
                width: 55px;
                height: 30px;
                margin-right: 5px;
            }

            h1 {
                font-size: 1.25rem;
            }
        }
    }

    .scrolled {
        padding: $spacing $spacing / 1.5 !important;
    }
}

// SHOW THE HAMBURGER AND HIDE OTHER NAV ITEMS
@media screen and (max-width: 960px) { 
    #navigation {   
        .container-nav-items {
            ul {
                li.nav-mobile-item {
                    display: list-item;
                    min-width: 20px;
                }

                li.nav-desktop-item {
                    display: none;
                }
            }
        }
    }
}