#testimonial-ceo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: max-content;
    width: 100%;
    padding: $spacing;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $theme-background-color-darker;
    background-attachment: fixed;
    background-blend-mode: overlay;

    blockquote {
        width: $width-global;

        h2 {
            font-size: 2.5rem;
            font-style: italic;
            margin-bottom: $margin-lg;
        }

        small {
            font-size: 1.75rem;
            float: right;
            color: $blue3;
        }
    }
}