.loader-enrollment {
  width: 100%;
  height: 85vh; // should be the same with #regForm
  display: flex;
  justify-content: center;
  align-items: center;

  .loader-enrollment-inner {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;


    svg{
      width: 100px;
      height: 100px;
      margin: 10px;
      display:inline-block;
    }

    small {
      text-align: center;
    }
  }
}