#testimonial-ceo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('/assets/images/francis-plaza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(11, 29, 40, 0.85);
    background-attachment: fixed;
    background-blend-mode: overlay;

    blockquote {
        width: $width-global;

        h2 {
            font-size: 2.5rem;
            font-style: italic;
            margin-bottom: $margin-lg;
        }

        small {
            font-size: 1.75rem;
            float: right;
        }
    }
}