#testimonial-ceo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    // put a background image w/ overlay here of Mr. Franis Plaza
    background-color: black; // temporary

    blockquote {
        width: $width-global;
    }
}