section {
    div.inner-flex {
        display: flex;
        align-items: center !important;

        div.inner-flex-content {
            width: 100%;
        }

        div.inner-flex-image {
            width: 100%;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 980px) {
    section {
        div.inner-flex {
            div.inner-flex-content {
                h2 {
                    text-align: center;
                }
            }
            div.inner-flex-image {
                display: none;
            }
        }
    }
}