$margin: 35px;

.plans {
    .inner {
        .highlights {
            section {
                div.content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    // card header
                    .content-header-plan {
                        margin-bottom: $margin;

                        h3 {
                            margin: 0px;
                        }

                        small {
                            font-size: 0.8rem;
                        }
                    }

                    // price oldprice & saving
                    .content-price-subtitle {
                        margin-bottom: 10px;

                        .content-price-subtitle-oldprice {
                            text-decoration: line-through;
                            color: gray;
                        }

                        .content-price-subtitle-savings {
                            padding: 10px 20px;
                            border-radius: 100px;
                            background-color: #ce1b28;

                            b {
                                color: whitesmoke !important;
                            }
                        }
                    }

                    // current price
                    .content-price {
                        margin-bottom: $margin;
                        font-size: 2rem;

                        .content-price-amount {
                            font-size: 2.3rem;
                        }
                    }

                    // plan features
                    .content-features {
                        .content-features-list {
                            text-align: left;
                            list-style-type: none;
                        }

                        .content-features-item:before {
                            content: '✔ ' !important;
                        }
                    }

                    small {
                        color: gray;
                    }
                }
            }
        }
    }
}