$color_base:  hsl(203, 100%, 90%);
$color_accent1:#80CEFF;
$color_accent2: #ff6200;
$color_accent3: #ffb484;
$spacing_sm: 7.5px;
$spacing_md: 12px;
$spacing_lg: 20px;
$color_font: rgba(0,0,0,0.85);
$shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

/* latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/arvo-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/arvo-700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: $color_font;
}

:root {
    font-size: 18px;
}

body main {
    width: 100%;
    height: 100vh;
    background-color: $color_base;
    font-family: 'Arvo', serif;
    color: white;
}

.active-nav {
    background-color: $color_accent2 !important;
    border-color: $color_accent2 !important;
    color: white !important;

    i, span {
      color: white;
    }
}

.toast {
  position: fixed;
  top: 0;
  left: -67.5vw;
  right: 0;
  margin: auto;
  max-width: 400px;
  padding: 6px;
  background: #cccccc;
  font-family: 'Arvo', serif;
  color: #333333;
  font-family: sans-serif;
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  box-shadow: $shadow;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}

.toast--visible {
  top: 20px;
  opacity: 1;
  visibility: visible;
}

.toast--success {
  background: #28a745;
  border-color: #28a745;
  color: #ffffff;
}

.toast--error {
  background: #dc3545;
  border-color: #dc3545;
  color: #ffffff;
}

@import '../sass/ionic.scss';
@import '../sass/initial.scss';
@import '../sass/loggedin.scss';