$color_base:  #009DFF;
$color_accent1:#80CEFF;
$color_accent2: #ff6200;
$spacing_sm: 7.5px;
$spacing_md: 12px;
$spacing_lg: 20px;
$shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 18px;
}

body main {
    width: 100%;
    height: 100vh;
    background-color: $color_base;
    font-family: 'Arvo', serif;
    color: white;
}

.active-nav {
    background-color: $color_accent2 !important;
    border-color: $color_accent2 !important;
    color: white !important;
}

.toast {
  position: fixed;
  top: 0;
  left: -67.5vw;
  right: 0;
  margin: auto;
  max-width: 400px;
  padding: 6px;
  background: #cccccc;
  color: #333333;
  font-family: sans-serif;
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}

.toast--visible {
  top: 20px;
  opacity: 1;
  visibility: visible;
}

.toast--success {
  background: #00c02b;
  border-color: #009d23;
  color: #ffffff;
}

.toast--error {
  background: #d50000;
  border-color: #ba0000;
  color: #ffffff;
}

@import '../sass/ionic.scss';
@import '../sass/initial.scss';
@import '../sass/loggedin.scss';