$color_base: #ff6200;
$color_accent1: #009DFF;
$color_accent2: #80CEFF;
$spacing_sm: 7.5px;
$spacing_md: 12px;
$spacing_lg: 20px;

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 18px;
}

body main {
    width: 100%;
    height: 100vh;
    background-color: $color_base;
    font-family: 'Arvo', serif;
    color: white;
}

.active-nav {
    background-color: $color_accent2;
    border-color: $color_accent2;
    color: white;
}

@import '../sass/ionic.scss';
@import '../sass/initial.scss';
@import '../sass/loggedin.scss';