section#view_initial {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .view_initial_img,
    .view_initial_nav {
        width: 50%;
        height: 100%;
        padding: $spacing_lg;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .view_initial_img {
        img {
            width: 70%;
            height: auto;
        }

        h1 {
            font-size: 50px;
            font-weight: 700;

            span {
                color: $color_accent2;
            }
        }
    }

    .view_initial_nav {

        ul.initial_nav_parent {
            margin-bottom: $spacing_lg;
            display: flex;
            list-style-type: none;



            li {
                border: none;
                border-radius: 35px;
                min-width: 115px;
                padding: $spacing_md $spacing_lg;
                margin: 0px $spacing_md;
                text-align: center;
                font-weight: 700;
                box-shadow: $shadow;
                transition: background-color 500ms ease-in-out,
                            color 500ms ease-in-out,
                            border-color 500ms ease-in-out;

                &:hover {
                    background-color: white;
                    color: $color_base;
                }
            }
        }

        .view_initial_nav_dynamic {
            #dynamic_home,
            #dynamic_register,
            #dynamic_login {
                height: 500px;
                width: 500px;
                padding: $spacing_lg;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #dynamic_home {
                flex-direction: column;
                align-items: flex-start !important;
                p {
                    margin: $spacing_md 0px;
                }
            }

            #dynamic_register,
            #dynamic_login {
                form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .input-group {
                        display: flex;
                        flex-direction: column;
                        margin: $spacing_md+10px 0px;

                        label {
                            margin-bottom: $spacing_sm;
                        }

                        input {
                            width: 100%;
                            border: none;
                            border-bottom: 2px solid $color_accent2;
                            font-size: 18px;
                            font-weight: 700;
                            color: white;
                            padding: $spacing_sm 0px;
                            background-color: transparent;

                            &:focus {
                                outline: none;
                            }
                        }

                        button {
                            cursor: pointer;
                            border: none;
                            color: white;
                            background-color: transparent;
                            width: max-content;
                            font-family: 'Arvo', serif;
                            font-size: 18px;
                            font-weight: 700;
                            padding: $spacing_md 0px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }



}