section#view_loggedin {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    .view_usercard,
    .view_useractions {
        height: 100%;
        padding: $spacing_lg;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .view_usercard {width: 50%;}
    .view_useractions {width: 50%;}

    .view_usercard {

        .user_informations {
            width: 100%;
            display: flex;
            padding: $spacing_lg;
            margin-left: $spacing_lg;
            margin-bottom: $spacing_md;
            border: none;
            border-radius: 15px;
            box-shadow: $shadow;

            img#user_avatar {
                min-width: 178px;
                min-height: 178px;
                width: 178px;
                height: 178px;
                border-radius: 50%;
                box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
            }

            div.user_meta_container {
                margin-left: $spacing_lg;
                width: 100%;

                #user_name {
                    font-size: 1.5rem;
                    margin-bottom: $spacing_sm;

                    #transactions {
                        cursor: pointer;
                    }
                }

                #user_accountAvatarChange,
                #user_accountcreation,
                #user_accountnumber {
                    font-size: 0.75rem;
                    font-style: italic;
                }

                #user_accountnumber {
                    margin-bottom: $spacing_lg;
                }

                #user_balance {
                    margin-top: $spacing_lg + $spacing_lg;
                    font-weight: 700;
                    font-size: 1.75rem;
                    position: absolute;
                    top: 250px;
                    left: 405px;
                    text-align: right;
                    width: 250px;
                }
            }
        }

        .user_actions {
            width: 100%;
            margin-left: $spacing_lg;
            margin-top: $spacing_md;
            display: flex;
            justify-content: space-between;
            list-style-type: none;

             li.user_actions_item {
                cursor: pointer;
                border: none;
                box-shadow: $shadow;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                min-width: 141px;
                padding: ($spacing_lg + $spacing_md) $spacing_lg;
                text-align: center;
                font-weight: 700;
                transition: background-color 500ms ease-in-out,
                            color 500ms ease-in-out,
                            border-color 500ms ease-in-out;

                &:hover {
                    background-color: white;
                    color: $color_base;
                }

                &.active-nav {
                    background-color: $color_accent2;
                    border-color: $color_accent2;
                    color: white;
                }

                i {
                    font-size: 1.75rem;
                }
            }
        }
    }

    .view_useractions {

        #dynamic_deposit,
        #dynamic_withdraw,
        #dynamic_send,
        #dynamic_transactions {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        #dynamic_deposit,
        #dynamic_withdraw,
        #dynamic_send {
            form {
                width: 80%;
                display: flex;
                flex-direction: column;

                .input-group {
                    display: flex;
                    flex-direction: column;
                    margin: $spacing_md+10px 0px;

                    label {
                        margin-bottom: $spacing_sm;
                    }

                    input {
                        width: 100%;
                        border: none;
                        border-bottom: 2px solid $color_accent2;
                        font-size: 18px;
                        font-weight: 700;
                        color: white;
                        padding: $spacing_sm 0px;
                        background-color: transparent;

                        &:focus {
                            outline: none;
                        }
                    }

                    button {
                        cursor: pointer;
                        border: none;
                        color: white;
                        background-color: transparent;
                        width: max-content;
                        font-family: 'Arvo', serif;
                        font-size: 18px;
                        font-weight: 700;
                        padding: $spacing_md 0px;
                    }
                }
            }
        }

        #dynamic_transactions {
        height: 570px;
        max-height: 570px;
        justify-content: flex-start;
        flex-direction: column !important;

            p.transaction_type_info {
                justify-self: flex-end;
                width: 100%;
                text-align: right;
                font-size: 0.75rem;
                margin-bottom: $spacing_sm;
                font-style: italic;
            }

            #transactions_options {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: $spacing_sm;

                label {
                    font-style: italic;
                }

                select#transaction_type {
                    background-color: transparent;
                    color: $color_accent3;
                    padding: $spacing_sm 0px;
                    margin-left: $spacing_sm;
                    width: 150px;
                    font-size: 18px;
                    font-family: 'Arvo';
                    font-weight: 700;
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }
            }

            #transactions_list {
                width: 100%;

                div.transactions_list_empty {
                    margin-top: $spacing_lg +  $spacing_lg;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        font-size: 1.5rem;
                    }

                    img {
                        width: 50%;
                        height: auto;
                    }
                }

                li {
                    padding: $spacing_md;
                    list-style-type: none;
                    border: none;
                    box-shadow: $shadow;
                    border-radius: 15px;
                    margin: $spacing_md $spacing_sm;
                    
                    .transactions_listitem_date,
                    .transactions_listitem_balanceBefore {
                        font-size: 0.75rem;
                        font-style: italic;
                    }

                    .transactions_listitem_balanceBefore {
                        float: right;
                    }

                    .transactions_listitem_main {
                        margin: $spacing_sm 0px;
                        display: flex;
                        justify-content: space-between;
                        color: $color_accent3;

                        .transactions_listitem_type,
                        .transactions_listitem_amount {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }


}