.loader {
  padding-top: 20%;
  width: 100%;
  display: flex;
  justify-content: center;

  .loader-inner {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;


    svg{
      width: 100px;
      height: 100px;
      margin: 10px;
      display:inline-block;
    }

    small {
      text-align: center;
    }
  }
}