@media screen and (max-width: 550px) {
  .header-text {
    font-size: 1.5rem;
  }

  .header-text-main {
    font-size: 3rem;
  }

  small.header-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    position: static;
    top: 0px;
    left: 0px;
  }

  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }

  .nav.responsive {
    position: relative;
  }
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0; 
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 650px) {
  .timline-container,
  .writer-container,
  .impact-container {
    width: 90% !important;
  }
}

@media screen and (max-width: 800px) {
  header {
    background-position: center ;
  }

  .section-writer {
    background-size: initial;
      background-position-x: 150px;
  }

  .section-impact {
    background-size: initial;
    background-position-x: -250px;
  }

}