@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat.ttf") format("truetype"); }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat'; }

body {
  background-color: #1b4965;
  color: #CAE9FF;
  font-family: 'Montserrat'; }

a {
  text-decoration: none;
  color: #CAE9FF; }

p {
  font-size: 1.25rem;
  line-height: 30px; }

::placeholder {
  color: #62B6CB; }

#navigation,
#how,
#process,
#learn,
#testimonial-students,
#contact {
  width: 75vw;
  padding: 50px 0px;
  margin: 0px auto; }

.hover_button_clear_bg:hover {
  background-color: #CAE9FF !important;
  color: #1b4965 !important;
  transition: all 500ms ease-in-out; }

/* Icons for FONTAWESOME, instead of class 'fa' */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative; }

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important; }

#navigation {
  display: flex;
  justify-content: space-between;
  z-index: 1000; }
  #navigation .container-brand {
    display: flex;
    align-items: center; }
    #navigation .container-brand img {
      width: 35px;
      height: 35px;
      margin-right: 5px; }
  #navigation .container-nav-items {
    display: flex;
    align-items: center; }
    #navigation .container-nav-items ul {
      display: flex;
      list-style-type: none; }
      #navigation .container-nav-items ul li {
        min-width: 120px; }
        #navigation .container-nav-items ul li a {
          vertical-align: baseline;
          appearance: none;
          border-radius: 35px;
          cursor: pointer;
          display: inline-block;
          font-weight: 600;
          height: 3.25rem;
          line-height: 3.25rem;
          padding: 0 1.75rem;
          text-align: center;
          white-space: nowrap;
          text-decoration: none;
          box-shadow: none;
          background-color: transparent;
          color: #CAE9FF;
          margin-bottom: 0; }
        #navigation .container-nav-items ul li a.special_button {
          text-transform: uppercase;
          border: 1px solid #CAE9FF;
          margin-left: 15px;
          transition: background-color 500ms ease-in-out, color 500ms ease-in-out; }

#banner {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 0;
  display: -ms-flexbox;
  height: 100vh !important;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }

#banner:before {
  -moz-transition: opacity 3s ease;
  -webkit-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  transition: opacity 3s ease;
  -moz-transition-delay: 1.25s;
  -webkit-transition-delay: 1.25s;
  -ms-transition-delay: 1.25s;
  transition-delay: 1.25s;
  background: #111111;
  content: '';
  display: block;
  height: 100vh;
  left: 0;
  opacity: 0.45;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

#banner:after {
  background: linear-gradient(135deg, #1b4965 5%, #111111 100%);
  content: ' ';
  display: block;
  height: 100vh;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

#banner video {
  -moz-transform: translateX(50%) translateY(50%);
  -webkit-transform: translateX(50%) translateY(50%);
  -ms-transform: translateX(50%) translateY(50%);
  transform: translateX(50%) translateY(50%);
  bottom: 50%;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  right: 50%; }

header.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
  max-width: 65%;
  height: 100%; }
  header.header .header-meta-content-container,
  header.header .header-meta-button-container,
  header.header .header-meta-title-container {
    margin: 20px 0px; }
  header.header .header-meta-title-container h3 {
    font-size: 3.75rem;
    font-weight: 700; }
  header.header .header-meta-title-container small {
    font-size: 1.75rem;
    color: #62B6CB; }
  header.header .header-meta-button-container .header-meta-button {
    text-transform: uppercase;
    vertical-align: baseline;
    appearance: none;
    border: 1px solid #CAE9FF;
    border-radius: 35px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 3.25rem;
    line-height: 3.25rem;
    padding: 0 1.75rem;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    box-shadow: none;
    background-color: transparent;
    color: #CAE9FF;
    margin-bottom: 0;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out; }

#how {
  display: flex;
  min-height: 100vh; }
  #how .how-image-container {
    padding: 20px; }
  #how .how-contents-container .how-contents-header {
    margin-bottom: 15px; }
    #how .how-contents-container .how-contents-header h3 {
      color: #62B6CB;
      margin-bottom: 15px;
      font-size: 2.5rem;
      font-weight: 700; }
  #how .how-contents-container .how-contents-list {
    list-style: none; }
    #how .how-contents-container .how-contents-list li {
      font-size: 20px;
      font-weight: 600;
      padding: 20px 32px;
      box-shadow: 12px 7px 90px 0 rgba(0, 0, 0, 0.3);
      margin-bottom: 10px;
      width: 100%; }
      #how .how-contents-container .how-contents-list li:before {
        content: '✔  ' !important;
        color: #3ee03e !important; }

#process {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: max-content; }
  #process .process-card {
    width: 30%;
    padding: 20px;
    border: 1px solid #1b4965;
    text-align: center;
    box-shadow: 12px 7px 90px 0 rgba(0, 0, 0, 0.3); }
    #process .process-card .process-card-icon-container {
      margin-bottom: 15px; }
      #process .process-card .process-card-icon-container .process-icon {
        font-size: 5rem; }
    #process .process-card h3 {
      color: #62B6CB;
      margin-bottom: 15px;
      font-size: 1.75rem;
      font-weight: 700; }
    #process .process-card p {
      font-size: 1.25rem; }

#learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: max-content; }
  #learn h2 {
    text-align: center;
    color: #62B6CB;
    font-size: 2.5rem;
    font-weight: 700; }
  #learn .learn-row {
    display: flex;
    margin: 25px 0px; }
    #learn .learn-row img.learn-row-icon {
      width: 100px;
      height: 100px; }
    #learn .learn-row div.learn-row-content {
      padding-left: 25px; }
      #learn .learn-row div.learn-row-content h3 {
        color: #62B6CB;
        margin-bottom: 7.5px;
        font-weight: 700; }
      #learn .learn-row div.learn-row-content p {
        text-align: justify; }

#testimonial-ceo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: black; }
  #testimonial-ceo blockquote {
    width: 75vw; }

#testimonial-students {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
  #testimonial-students h2 {
    text-align: center;
    color: #62B6CB;
    font-size: 2.5rem;
    font-weight: 700; }
  #testimonial-students .testimonials-container {
    display: flex;
    justify-content: space-between;
    margin: 25px 0px; }
    #testimonial-students .testimonials-container .student-container {
      padding: 20px;
      border: 1px solid #1b4965;
      width: 45%;
      box-shadow: 12px 7px 90px 0 rgba(0, 0, 0, 0.3); }
      #testimonial-students .testimonials-container .student-container p {
        text-align: justify;
        font-style: italic; }
      #testimonial-students .testimonials-container .student-container .student-profile {
        display: flex;
        align-items: flex-start;
        margin: 25px 0px; }
        #testimonial-students .testimonials-container .student-container .student-profile img {
          border-radius: 50%;
          width: 72px;
          margin-right: 16px;
          border: 1px;
          border-style: solid;
          border-color: #969696; }
        #testimonial-students .testimonials-container .student-container .student-profile .student-title h3 {
          font-weight: 700; }

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
  #contact h2 {
    text-align: center;
    color: #62B6CB;
    font-size: 2.5rem;
    font-weight: 700; }
  #contact .contact-container {
    display: flex;
    width: 100%; }
    #contact .contact-container .contact-cards-container {
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #contact .contact-container .contact-cards-container .contact-card {
        width: 300px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 15px 0px;
        border: 1px solid #1b4965;
        box-shadow: 12px 7px 90px 0 rgba(0, 0, 0, 0.3); }
        #contact .contact-container .contact-cards-container .contact-card .contact-icons {
          font-size: 2.5rem; }
        #contact .contact-container .contact-cards-container .contact-card .special {
          font-size: 4.5rem !important; }
        #contact .contact-container .contact-cards-container .contact-card h3 {
          color: #62B6CB; }
    #contact .contact-container .contact-form-container {
      width: 100%;
      padding: 20px; }
      #contact .contact-container .contact-form-container p {
        margin-bottom: 25px; }
      #contact .contact-container .contact-form-container form {
        width: 100%; }
        #contact .contact-container .contact-form-container form .field-container {
          margin-bottom: 25px; }
        #contact .contact-container .contact-form-container form .field-container,
        #contact .contact-container .contact-form-container form input,
        #contact .contact-container .contact-form-container form textarea {
          width: 100%; }
        #contact .contact-container .contact-form-container form input,
        #contact .contact-container .contact-form-container form textarea,
        #contact .contact-container .contact-form-container form button {
          padding: 20px 5px; }
        #contact .contact-container .contact-form-container form input,
        #contact .contact-container .contact-form-container form textarea {
          border: none;
          background-color: #1b4965;
          border-bottom: 2px solid #62B6CB;
          font-size: 1rem;
          color: #CAE9FF; }
          #contact .contact-container .contact-form-container form input:focus,
          #contact .contact-container .contact-form-container form textarea:focus {
            outline: none;
            box-shadow: none; }
        #contact .contact-container .contact-form-container form input {
          height: 40px; }
        #contact .contact-container .contact-form-container form textarea {
          resize: vertical; }
        #contact .contact-container .contact-form-container form button {
          min-width: 175px;
          cursor: pointer;
          font-weight: 700;
          border-radius: 35px;
          text-transform: uppercase;
          color: #CAE9FF;
          border: 1px solid #CAE9FF;
          background-color: #1b4965;
          transition: background-color 500ms ease-in-out, color 500ms ease-in-out; }

footer {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background-color: black; }
  footer #call-to-action,
  footer #copyright-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  footer #call-to-action {
    width: 100%;
    height: 92.5%; }
    footer #call-to-action h3 {
      font-size: 3.5rem;
      margin-bottom: 25px; }
    footer #call-to-action button {
      font-size: 1.25rem;
      padding: 20px 15px;
      min-width: 210px;
      cursor: pointer;
      font-weight: 700;
      border-radius: 35px;
      text-transform: uppercase;
      color: #CAE9FF;
      border: 1px solid #CAE9FF;
      background-color: transparent;
      transition: background-color 500ms ease-in-out, color 500ms ease-in-out; }
  footer #copyright-container {
    width: 100%;
    height: 7.5%; }
