:root {
    --color-base: white;
    --color-accent1: #266150;
    --color-accent2: #266150;
    --color-accent3: white;
    --radius: 35px;
    --spacing-sm: 8px;
    --spacing-md: 15px;
    --spacing-lg: 24px;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), 
        local('Poppins-Regular'), 
        url('../fonts/poppins-400.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Poppins Bold'), 
        local('Poppins-Bold'), 
        url('../fonts/poppins-700.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face{
    font-family:"Ionicons";
    src: url("../fonts/ioniconsv2.0.1.ttf");
    src: url("../fonts/ioniconsv2.0.1.ttf") format("embedded-opentype"),
    url("../fonts/ioniconsv2.0.1.ttf") format("truetype"),
    url("../fonts/ioniconsv2.0.1.ttf") format("woff"),
    url("../fonts/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
    font-weight:normal;
    font-style:normal
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: #cecece;
}

main {
    width: 40%;
    min-height: 50%;
    margin: 2.5% auto;
}

#top {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/banner.jpg);
    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: overlay;
    color: var(--color-base);
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: var(--radius);
    margin-bottom: var(--spacing-md);
}

div#inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-md);
}

input#input {
    width: 75%;
    background-color: transparent;
    padding: var(--spacing-sm) 0px;
    color: var(--color-accent1);
    border: none;
    border-bottom: 2px solid var(--color-accent1);
}

input#input:active,
input#input:focus,
button#submit {
    outline: none;
}

button#submit {
    width: 19%;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--color-accent3);
    border: none;
    background-color: var(--color-accent1);
    border-radius: var(--radius);
    cursor: pointer;
}

.toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  padding: var(--spacing-lg);
  background: #cccccc;
  color: #333333;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  border: 2px solid #aaaaaa;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  transition: opacity 0.2s, 
              top 0.2s, 
              visibility 0.2s;
}

.toast--visible {
  top: 10px;
  opacity: 1;
  visibility: visible;
}

.toast--success {
  background: #28a745;
  border-color: #28a745;
  color: #ffffff;
}

.toast--error {
  background: #dc3545;
  border-color: #dc3545;
  color: #ffffff;
}

.taskitem {
    list-style-type: none;
    color: var(--color-accent3);
    font-weight: 700;
    background-color: var(--color-accent1);
    margin-bottom: var(--spacing-sm);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius);
    cursor: pointer;
    transition: background-color 500ms ease-in-out,
                text-decoration 500ms ease-in-out;
    -webkit-animation-name: fadeInLeft;
    -webkit-animation-duration: 500ms;
    animation-name: fadeInLeft;
    animation-duration: 500ms;
}

.taskitem-remove {
    float: right;
    cursor: pointer;
}

.taskitem-done {
    background-color: #979797;
    text-decoration: line-through;
}

.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

#tasklist_empty {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tasklist_empty > img{
  width: 50%;
  margin-bottom: var(--spacing-lg);
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
}

@media only screen and (max-width: 768px) {
  main {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  main {
    width: 95%;
  }
}